  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Work+Sans:wght@400;600;700;800&display=swap');

  * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
  }

  body {
      font-family: 'Work Sans', sans-serif;
  }


  /* share style */
  :root {
      --primary-color: #FF42A5;
  }

  .Magenta {
      background: var(--primary-color);
      color: white;
  }

  .light-blue {
      background: #4EC5F7;
      color: white;
  }

  .btn-primary {
      border: 0;
      border-radius: 48px;
      padding: 16px 32px;
      color: #FFF;
      font-size: 1.25rem;
      font-weight: 600;
      text-transform: uppercase;
      cursor: pointer;
      margin: 10px 0px;
  }

  /* header area Start  */
  /* navbar start*/
  header {
      max-width: 1920px;
      background: #FFF;
  }

  .nav-container {
      display: flex;
      margin: 38px 240px;
      justify-content: space-between;
      align-items: center;
  }

  .logo-container {
      width: 270px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      align-items: center;
  }

  .logo-img {
      max-width: 100%;
      height: auto;
  }

  .logo-text {
      color: #0B0223;
      font-family: Work Sans;
      font-size: 2.813rem;
      font-weight: 700;
  }

  .logo-text span,
  .footer-logo-text span {
      color: #FF42A5;
  }

  .menu-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 10px;
  }

  .menu ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

  }

  .menu li {
      list-style: none;
      margin-right: 10px;

  }

  .menu li a {
      text-decoration: none;
      color: #3C354F;
      text-align: center;
      font-size: 1.125rem;
      font-weight: 500;
  }

  .menu-button-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 250px;
      padding: 15px;
      color: #3C354F;
      text-align: center;
      font-size: 1.125rem;
      font-weight: 500;
      border-radius: 8px;
      background: rgba(11, 2, 35, 0.10);
  }

  .menu-button-container img {
      max-width: 100%;
      height: auto;

  }

  /* navbar end*/

  /* bannar start */
  .bannar-section {
      background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  }

  .bannar-container {
      background: url('/images/Group-14.png');
      background-size: calc((1920-480)/2);
      background-repeat: no-repeat;
  }

  .content-section {
      margin: 38px 240px 0px 240px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }


  .bannar-title {
      text-align: center;
      color: #0B0223;
      font-size: 3rem;
      font-weight: 600;
      text-transform: uppercase;
  }

  .bannar-goat {
      text-align: center;
      color: var(--primary-color);
      font-size: 5.938rem;
      font-weight: 800;
      text-transform: uppercase;
  }

  .bannar-image img {
      max-width: 100%;
      height: auto;

  }

  .bannar-text-discription {
      color: #534C64;
      font-size: 1.25rem;
      font-weight: 500;
      text-transform: lowercase;
      margin-bottom: 5px;
      text-align: left;
  }

  .text-discription {
      color: #534C64;
      font-size: 1.25rem;
      font-weight: 500;
      text-transform: lowercase;
      margin-bottom: 5px;
  }

  .bannar-button-container {
      text-align: center;
      margin-top: 20px;
  }

  /* gamer section  */
  .gamer-container {
      margin: 0px 240px 0px 240px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 90px;
      justify-content: center;
      align-items: center;
  }

  .gamer-content {
      direction: rtl;
  }

  .gamer-container img {
      max-width: 100%;
      height: auto;
  }

  .title-text {
      text-align: right;
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 15px;
      background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  .gamer-everyone {
      color: #534C64;
      text-align: right;
      font-size: 24px;
      font-weight: 500;
  }

  /* online gamer section */
  .gamer-section {
      margin-top: 50px;
  }

  .online-gamer-container p {
      text-align: center;
  }

  .gamer-card-container {
      margin: 30px 240px 0px 240px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
  }

  .gamer-card-container img {
      max-width: 100%;
      height: auto;
  }

  .online-gamer-title {
      color: #0B0223;
      text-align: center;
      font-size: 48px;
      font-weight: 700;
  }

  .gamer-text-description {
      color: #534C64;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
  }

  .online-gamer-title span {
      background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  .card {
      position: relative;
  }

  .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: opacity 0.3s ease;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
  }

  .card:hover .overlay {
      opacity: 1;
      cursor: pointer;
      border: 5px solid #F948B2;
  }

  .watch-now {
      color: #FF42A5;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
  }

  .card img {
      width: 100%;
      height: auto;
  }

  /* Play Instantly section */
  .play-section-container {
      margin: 50px 240px 0px 240px;
  }

  .Play-instant-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .Play-content-container h2,
  p {
      text-align: right;
      color: #0B0223;
      font-size: 48px;
      font-weight: 700;
  }

  .play-instantly-color {
      background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  .Play-img-container {
      position: relative;
      margin-left: 200px;
  }

  .play-img {}

  .min-content-img {
      position: absolute;
      left: -120px;
      bottom: 0px;
      z-index: 1;
      max-width: 50%;

  }

  .content-img {
      max-width: 100%;
      padding-bottom: 70px;
  }

  /* Careers section */
  .careers-title {
      text-align: left;
  }

  .careers-discription {
      text-align: justify;
      margin-bottom: 20px;
      color: #FFF;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      /* 166.667% */
  }

  .carrers-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 40px;
      /* 200% */
  }

  .carrers-list li {
      list-style: none;
      color: #FFF;
      font-size: 20px;
      font-weight: 600;
      margin: 0 15px;
      ;
  }

  .carreers-button {
      margin-top: 20px;
      border-radius: 48px;
      background: #FFF;
      padding: 20px;
      border: 0;
      color: #FF42A5;
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
      cursor: pointer;
  }

  .carreers-container-grid {
      margin: 0px 240px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;

  }


  .carreers-bannar-img img {
      width: 80%;
  }

  .careers-section {
      background: #FF42A5;
      margin-top: 50px;
      padding: 80px 0px;
  }


  .careers-container h2 {
      color: #FFF;
      font-size: 48px;
      font-weight: 700;
  }

  .careers-container p {
      color: #FFF;
      font-size: 18px;
      font-weight: 400;
  }

  .carrers-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  /* games name area */
  .section-container {
      padding: 80px 0px;

  }

  .game-name-container {
      display: grid;
      justify-content: left;
      align-items: center;
      grid-template-columns: repeat(5, 1fr);
      margin: 0px 240px 0px 240px;
  }

  .game-name {
      background: #FFF;
      margin: 10px 20px;
  }

  .game-name a {
      display: flex;
      justify-content: left;
      text-decoration: none;
  }

  .game-name-button {
      color: #0B0223;
      background-color: transparent;
      border: 0;
      font-size: 16px;
      font-weight: 600;
      padding-left: 15px;
  }

  .game-name:hover {
      outline: 2px solid #FF42A5;
      color: #FF42A5;
      border-radius: 10px;
  }

  .game-name-button:hover {
      color: #FF42A5;
  }

  /* footer section */
  .footer {
      background-color: #0B0223;
  }

  .footer-logo-text {
      color: #FFF;
      font-size: 45px;
      font-weight: 700;
  }

  .footer-logo {
      display: flex;
      justify-content: center;
      padding-top: 120px;

  }

  .footer-menu {
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: white;
  }

  .footer-menu ul {
      display: flex;
      margin-top: 30px;
      gap: 20px;
      cursor: pointer;
  }

  .footer-menu li {
      list-style: none;
  }

  .footer-menu li a {
      color: white;
      text-decoration: none;
  }

  .footer-social {
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
  }

  .footer-social ul {
      display: flex;
      gap: 30px;
      justify-content: space-around;
  }

  .footer-social ul li {
      list-style: none;

  }

  .footer-social img {
      width: 80%;
      height: auto;
  }

  .footer-page {
      color: rgba(255, 255, 255, 0.60);
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 28px;
      text-align: center;
  }

  .copyright {
      padding-bottom: 120px;
  }

  .hide {
      display: none;
  }

  /* responsive area */

  /* mobile responsive start */

  @media screen and (max-width:576px) {

      .nav-container,
      .menu-container,
      .menu ul {
          flex-direction: column;
          gap: 30px;
      }

      .nav-container {
          margin: 0 auto;
          padding-top: 50px;
      }

      /* header bannar section */
      .bannar-container {
          background: white;
      }

      .bannar-section,
      .content-section {
          background: transparent;

      }

      .content-section {
          flex-direction: column-reverse;
          margin: 5%;
          padding: 0;

      }

      .content-container {
          background: url('/images/Group-14.png');
          background-repeat: no-repeat;
          background-size: cover;
          padding: 20px;
      }

      /* gamer section */
      .gamer-container {
          grid-template-columns: repeat(1, 1fr);
          margin: 0px 20px;
          padding: 0px;
          text-align: center;
      }

      .gamer-content {
          direction: left;
      }

      .gamer-everyone,
      .title-text,
      .text-discription {
          text-align: center;
      }
 /* online gamer section  */
 .gamer-card-container{
    grid-template-columns: repeat(1, 1fr);
    margin: 0px;
    padding: 0px;
 }
 .card-container{
    margin: 10px 0px;
    text-align: center;
 }
 .online-gamer-container{
margin: 30px;
 }
  }

  /* mobile responsive end */



  /* Tablet responsive start */
  @media screen and (min-width:577px) and (max-width:768px) {

      .nav-container,
      .menu-container,
      .menu ul {
          flex-direction: column;
          gap: 30px;
      }

      .nav-container {
          margin: 0 auto;
          padding-top: 50px;
      }

      /* header bannar section */
      .bannar-container {
          background: white;
      }

      .bannar-section,
      .content-section {
          background: transparent;

      }

      .content-section {
          flex-direction: column-reverse;
          margin: 5%;
          padding: 0;

      }

      .content-container {
          background: url('/images/Group-14.png');
          background-repeat: no-repeat;
          background-size: cover;
          padding: 30px;
      }

      /* gamer section */
      .gamer-container {
          grid-template-columns: repeat(1, 1fr);
          margin: 0px 20px;
          padding: 0px;
          text-align: center;
      }

      .gamer-content {
          direction: left;
      }

      .gamer-everyone,
      .title-text,
      .text-discription {
          text-align: center;
      }
  }

  /* Tablet responsive end */

  /* laptop responsive start */
  @media screen and (min-width:577px) and (max-width:1024px) {

      .nav-container,
      .menu-container,
      .menu ul {
          flex-direction: column;
          gap: 30px;

      }

      .nav-container {
          margin: 0 auto;
          padding-top: 50px;
      }

      /* header bannar section */
      .bannar-container {
          background: white;
      }

      .bannar-section,
      .content-section {
          background: transparent;

      }

      .content-section {
          flex-direction: column-reverse;
          margin: 5%;
          padding: 0;

      }

      .content-container {
          background: url('/images/Group-14.png');
          background-repeat: no-repeat;
          background-size: cover;
          padding: 30px;
      }

      /* gamer section */
      .gamer-container {
          grid-template-columns: repeat(1, 1fr);
          margin: 0px 20px;
          padding: 0px;
          text-align: center;
      }

      .gamer-content {
          direction: left;
      }

      .gamer-everyone,
      .title-text,
      .text-discription {
          text-align: center;
      }
  }

  /* laptop responsive end */